.App{
  text-align: center;
  font-size: 62.5%;
  margin: auto;
}

.nav{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #313131;
  color: white;
  font-size: .95rem;
  height: 43px;
}

.mac{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  color: #333333;
  font-size: .7rem;
  height: 101px;
  padding-bottom: 12px;
}

.new{
  color: #f07d59;
  font-size: .6rem;
  margin: 0;
}

.fa-apple{
  color: #fefefe;
}

.fa-apple:hover{
  color:#b5b5b5;
}

.nav-link{
  text-decoration: none;
  color: #eeeeee;
  padding: 0 37.3px;
}
.nav-link:hover{
  color: #b5b5b5;
}
.sub-nav-styling{
  cursor: pointer;
  padding: 0 18.5px;
}

.sub-nav-styling p{
  margin: 0;
}

.sub-nav-styling p:hover{
  color: #4c93d2;
}

.mini{
  position: relative;
  bottom: 17px;
}

.pencil{
  max-height: 54px;
}

.tenFive{
  max-height: 55px;
}

.nineSeven{
  height: 70px;
}

.macbookAir{
  position: relative;
  top: 6px;
}

.macMini{
  position: relative;
  top: 7px;
}

.macMiniNew{
  position: relative;
  bottom: 18px;
}

.iPadMini4{
  max-height: 55px;
}

.smartKeyboard{
  height: 55px;
}

.ipadAccess{
  height: 55px;
}

.iPad{
  padding: 0 20px;
}

.ipadSubNav{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  color: #333333;
  font-size: .7rem;
  height: 101px;
  padding-bottom: 12px;
}

.ten{
  position: relative;
  top: 7px;
}

.smartKey{
  position: relative;
  top: 7px;
}

.compare{
  position: relative;
  top: 1px;
}

.proStyle{
  position: relative;
  top: 1px;
}

.num{
  font-size: .54rem;
}

.ipadPro{
  position: relative;
  top: 6px;
}

.iphone{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2f2;
  color: #333333;
  font-size: .7rem;
  height: 101px;
  padding-bottom: 12px;
}

.xs, .xr, .eight, .seven, .airpod, .accessiphone, .compareiphone{
  height: 55px;
}

.iphonePad{
  padding: 0 8px;
}

.xS-Position{
  position: relative;
  right: 72.5px;
  top: 7px;
}

.xR-Position{
  position: relative;
  right: 83.25px;
  top: 6px;
}

.eightPosition{
  position: relative;
  right: 74.5px;
}

.r-Sizing, .s-Sizing{
  font-size: .5rem;
}

.sevenPosition{
  position: relative;
  right: 49px;
}

.iOS-Position{
  position: relative;
  right: 24px;
}

.aPodPosition{
  position: relative;
  left: 1.3px;
}

.accessPosition{
  position: relative;
  left: 29.3px;
}

.iphoneComparePosition{
  position: relative;
  left: 56px;
}

.navLogo{
  position: relative;
  right: 9px;
}

.navMac{
  position: relative;
  right: 6px;
}

.naviPad{
  position: relative;
  right: 5px;
}

.naviPhone{
  position: relative;
  right: 4px;
}

.navWatch{
  position: relative;
  right: 1px;
}

.navTV{
  position: relative;
  left: 1px;
}

.navMusic{
  position: relative;
  left: 2.8px;
}

.navSupport{
  position: relative;
  left: 5px;
}

.navSearch{
  position: relative;
  left: 7px;
}

.navBag{
  position: relative;
  left: 9px;
}