.App{
  text-align: center;
  font-size: 62.5%;
}
.nav{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #313131;
  color: white;
  padding: .6%;
  font-size: .95rem;
}

.mac{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  color: #333333;
  font-size: .7rem;
}

.fa-apple{
  color: #fefefe;
}

.fa-apple:hover{
  color:#b5b5b5;
}

.nav-link{
  text-decoration: none;
  color: #eeeeee;
  padding: 0 37.3px;
}
.nav-link:hover{
  color: #b5b5b5;
}
.sub-nav-styling{
  cursor: pointer;
  padding: 0 18.5px;
}

.sub-nav-styling p{
  margin: 0;
}

.sub-nav-styling p:hover{
  color: #4c93d2;
}

.mini{
  position: relative;
  bottom: 17px;
}

.pencil{
  max-height: 54px;
}

.tenFive{
  max-height: 55px;
}


/* .iPad{

} */